html(lang= "en")
  head
    meta(charset ="UTF-8")
    meta(name ="viewport", content ="width=device-width, initial-scale=1.0")
    title= title
    link(rel='stylesheet', href='/css/detail.css')
    link(rel='stylesheet', href='/css/orange.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/highlight.js@10.4.0/styles/a11y-dark.css')
    include ./baseHeader.pug
    script(src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.4.0/build/highlight.min.js")
    script(type="text/javascript").
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?84749f5eacfb94fcc118d50af0876a57";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })()
  body
    include ./gotoTop.pug
    div(class='app')
      include ./menu.pug
      div(style='background: #fff; margin-left: 20px; width: 73%; padding: 20px')
        div(class='container', id='write')
          div(class='header')
            div(class='title')
              h1= article.title
            div(class='info')
              div
                <svg class="icon" aria-hidden="true">
                  <use xlink:href="#people"></use>
                </svg>:&nbsp;
                span(class='footer-item')= article.author
              div
                <svg class="icon" aria-hidden="true">
                  <use xlink:href="#calendar1"></use>
                </svg>:&nbsp;
                span(class='footer-item')= article.createTime
              div
                <svg class="icon" aria-hidden="true">
                  <use xlink:href="#post"></use>
                </svg>:&nbsp;
                span(class='footer-item')= article.updateTime
              div
                <svg class="icon" aria-hidden="true">
                  <use xlink:href="#file"></use>
                </svg>:&nbsp;
                a(class='footer-item', href='/view/categories')= article.categories
          div(class='content', innerHTML=article.content)
    script(src="/js/detail.js")