doctype html
html(lang= "en")
  head
    meta(charset ="UTF-8")
    meta(name ="viewport", content ="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet", href="/css/index.css")
    include ./baseHeader.pug
    script(type="text/javascript").
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?84749f5eacfb94fcc118d50af0876a57";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })()
  body
    include ./indicator.pug
    include ./gotoTop.pug
    - var pages = totalPage
    - var pageSize = pageSize
    - var current = currentPage
    div(class='app')
      include ./menu.pug
      if articles.length === 0
        div(class='empty') 空空如也~
      else
        ul(class='context')
          each val in articles
            li(class='item')
              a(href=`/view/blog/${val.id}` class='item-a')
              div(class='title')= val.title
              div(class='content')= val.description
              div(class='footer')
                div(class='footer-item')
                  <svg class="icon" aria-hidden="true">
                    <use xlink:href="#file"></use>
                  </svg>:
                  span= val.category
                div(class='footer-item')
                  <svg class="icon" aria-hidden="true">
                    <use xlink:href="#tag"></use>
                  </svg>:
                  span= val.tags
                div(class='footer-item')
                  <svg class="icon" aria-hidden="true">
                    <use xlink:href="#calendar1"></use>
                  </svg>:
                  span= val.create_time
                div(class='footer-item')
                  <svg class="icon" aria-hidden="true">
                    <use xlink:href="#post"></use>
                  </svg>:
                  span= val.update_time
    include ./pagination.pug
    include ./footer.pug
