doctype html
html(lang= "en")
  head
    meta(charset ="UTF-8")
    meta(name ="viewport", content ="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet", href="/css/timeline.css")
    include ./baseHeader.pug
    script(type="text/javascript").
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?84749f5eacfb94fcc118d50af0876a57";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })()
  body
    include ./indicator.pug
    include ./gotoTop.pug
    div(class='app')
      include ./menu.pug
      div(style='width: 100%', class='context')
        div(class="item big")= `不错，目前共计${articles.length}篇日志，继续努力~`
        each article in articles
          a(href=`${article.id === 0 ? ('/view/blog/timeline/'+article.create_time) : ('/view/blog/'+article.id)}`)
            div(class=`item ${article.id === 0 ? 'big' : ''}`)= `${article.create_time} ${article.title}`
    include ./footer.pug